// Navbar
nav {
  .navbar-brand {
    font-size: 20px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .navbar-nav {
    form {
      justify-content: center;
      input {
        width: 300px !important;
      }
    }
    .nav-hiden-text {
      font-size: 18px;
      margin-left: 10px;
      color: #000000 !important;
    }
    .vertical-devider {
      display: none;
    }
    .btn-login {
      margin: 10px 0;
    }
  }
}

// Jumbotron
.jumbotron {
  height: 320px;
  padding-top: 80px;
  .container {
    .display-4 {
      font-size: 30px;
    }
    .lead {
      font-size: 16px;
    }
    a {
      padding: 3px 10px;
      font-size: 20px;
    }
  }
}

// Product
.product {
  .favorite {
    margin-top: 80px;
  }
  .row {
    .card {
      height: 220px;
      img {
        height: 120px;
      }
      .card-body {
        padding: 8px;
        .product-name {
          font-size: 16px;
        }
        .normal-price {
          height: 25px;
          font-size: 12px;
        }
        .price {
          font-size: 16px;
        }
        .variant {
          margin-top: -10px;
          i {
            margin-right: 2px;
            font-size: 20px;
          }
        }
      }
    }
  }
  .see-other {
    margin-top: 30px;
  }
}
// About
.about {
  margin-top: 50px;
  padding: 20px 0;
  p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

// Main
main {
  min-height: 82vh;
  .content {
    h3 {
      font-size: 16px;
      font-weight: 500;
    }
    .row {
      // Right Column
      .col-right {
        .position-sticky {
          .card-title {
            font-size: 18px;
          }
          p {
            font-size: 14px;
          }
          .normal-price {
            height: 20px;
            strike {
              span {
                font-size: 14px;
              }
            }
          }
          .price {
            font-size: 20px;
          }
          // .price-checkout {
          //   font-size: 20px;
          //   color: $price-check;
          //   font-weight: 600;
          //   margin-bottom: 20px;
          // }
          // .quantity {
          //   width: 120px;
          //   input {
          //     font-size: 16px;
          //     font-weight: 700;
          //     border: none;
          //     border-bottom: 1px solid #818181;
          //   }
          // }
          .total-qty {
            font-size: 18px;
          }
        }
      }
      // Detail column
      .detail {
        .card {
          h1 {
            font-size: 20px;
          }
          .card-subtitle {
            font-size: 12px;
          }
          h2 {
            font-size: 18px;
            margin-bottom: 20px;
          }
        }
      }
      // Cart Lists
      .cart-lists {
        .card {
          .card-body {
            img {
              width: 80px;
              height: 80px;
            }
            h1 {
              font-size: 18px;
              margin-top: 5px;
            }
            .normal-price {
              margin-top: -5px;
              height: 20px;
              strike {
                span {
                  font-size: 14px
                }
              }
            }
            h2 {
              font-size: 18px;
            }
            nav {
              height: 20px;
              a { margin-top: -12px; }
              .vertical-devider { margin-bottom: 10px; }
              .quantity {
                width: 110px;
                margin-top: -7px;
                button {
                  margin-bottom: -10px;
                  i {
                    font-size: 10px;
                  }
                }
              }
            }
            .products-checkout {
              img {
                width: 80px;
                height: 80px;
              }
              h1 { font-size: 22px; }
              h3 { font-size: 14px; }
              h2 { font-size: 16px; }
            }
            .pembayaran {
              .card-title {
                font-size: 16px;
                font-weight: 700;
              }
              .instruksi {
                font-size: 14px;
              }
              img {
                height: 50px;
                width: 50px;
                border: 2px solid #1859b9;
              }
            }
          }
        }
      }
      .transaction {
        small {
          font-size: 14px;
          color: #727272;
        }
        p {
          font-size: 18px;
          margin-bottom: 3px;
          span {
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 5px;
            margin-left: 20px;
          }
        }
        a {
          margin-top: 30px;
          color: #ffffff;
          background-color: #c2c2c2;
        }
        img {
          height: 60px;
          width: 60px;
          margin-right: 5px;
        }
        h1 {
          font-size: 26px;
          font-weight: 600;
          margin-top: 10px;
          color: $price-check;
        }
      }
      .transaction-detail {
        .card-title {
          font-size: 20px;
          margin-top: 15px;
        }
        small {
          font-size: 16px;
          color: #727272;
        }
        span {
          color: #ffffff;
          padding: 5px 10px;
          border-radius: 5px;
          display: inline-block;
          margin-top: 5px;
        }
        p {
          font-size: 18px;
          margin-bottom: 5px;
        }
        .products {
          img {
            width: 60px;
            height: 60px;
          }
          h1 {
            font-size: 20px;
            margin-bottom: 2px;
            a {
              text-decoration: none;
              color: #2e2e2e;
              &:hover {
                color: #7e7e7e;
              }
            }
          }
          h3 {
            font-size: 12px;
            margin-bottom: 5px;
          }
          h2 {
            font-size: 16px;
            font-weight: 600;
          }
        }
        .subtotal {
          p {
            font-size: 16px;
          }
          h4 {
            font-size: 22px;
            font-weight: 400;
          }
          .sub-bold {
            p {font-weight: 600;}
            h4 {font-weight: 600;}
          }
        }
      }
    }
  }
  .success {
    img {
      height: 250px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    h1 {
      font-size: 32px;
      font-weight: 700;
    }
    p {
      font-weight: 26px;
      font-style: italic;
      color: #727272;
    }
  }
}

// Chat
.chat{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#ffffff;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  &:hover {
    background-color:#42db7a;
    color: #ffffff;
  }
  i {
    margin-top:16px;
  }
}


// Chat
.chat{
	width:50px;
	height:50px;
	bottom: 30vh;
	right:10px;
  i {
    margin-top:10px;
  }
}