// Navbar
nav {
  .navbar-brand {
    font-size: 26px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .navbar-nav {
    input {
      width: 300px !important;
    }
    .nav-hiden-text {
      font-size: 18px;
      font-weight: 600;
      color: #000000 !important;
    }
    .vertical-devider {
      display: none;
    }
    .btn-login {
      margin: 10px 0;
    }
  }
}

// Jumbotron
.jumbotron {
  height: 350px;
  padding-top: 80px;
  .container {
    .display-4 {
      font-size: 34px;
    }
  }
}

// Product
.product {
  .favorite {
    margin-top: 80px;
  }
  .row {
    .card {
      height: 240px;
      img {
        height: 120px;
      }
      .product-name {
        font-size: 16px;
      }
      .normal-price {
        height: 25px;
        font-size: 12px;
      }
      .price {
        font-size: 16px;
      }
      .variant {
        margin-top: -10px;
        i {
          margin-right: 2px;
          font-size: 20px;
        }
      }
    }
  }
  .see-other {
    margin-top: 30px;
  }
}


// Chat
.chat{
	width:50px;
	height:50px;
	bottom: 30vh;
	right:10px;
  i {
    margin-top:10px;
  }
}