@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

// GLOBAL
:root {
  --bg-prim: #edf7fa;
  // --bg-prim: linear-gradient(#63a1b4, #a2c6d1);
  --bg-prim2: linear-gradient(#a2c6d1, #63a1b4);
  --btn-col: #ff9e53;
  --btn-col-hov: #ffbe8c;
  --f-prim: "Assistant", sans-serif;
  --price-col: #377ce4;
}
body {
  background: var(--bg-prim);
  font-family: var(--f-prim);
}
// END OF GLOBAL
// *************

// Utilities
.vertical-devider {
  border-right: 2px solid #5f5f5f;
  margin: 0px 20px;
}
// End of utilities

// Navbar
nav {
  .navbar-brand {
    font-family: 'Courgette', cursive;
    font-weight: 700;
  }
  .navbar-nav {
    input {
      width: 500px !important;
    }
  }
}

// Jumbotron
.jumbotron {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  padding-top: 100px;
  position: relative;
  box-shadow: 0px 100px 100px #c9e5ee;
  &:hover {
    &::after {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      height: 100%;
    }
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    transition: height .2s, background-image .2s;
  }
  .container {
    position: relative;
    z-index: 1;
    .display-4 {
      font-family: 'Rubik', sans-serif;
    }
  }
}

// Product
.product {
  .favorite {
    margin-top: 100px;
  }
  .row {
    .card {
      height: 350px;
      margin-bottom: 20px;
      box-shadow: 0 5px 10px #2e2e2e;
      overflow: hidden;
      &:hover {
        box-shadow: 0 10px 20px #2e2e2e;
        background-color: #ececec;
        img {
          transform: scale(1.3);
        }
      }
      img {
        height: 200px;
        object-fit: cover;
        transform-origin: 50% 100%;
        transition: transform .2s;
      }
      .product-name {
        color: #727272;
        margin-bottom: 0;
      }
      .normal-price {
        height: 25px;
        strike {
          color: #eb6d3c;
          span {
            color: #c5c5c5;
          }
        }
      }
      .price {
        font-size: 24px;
        color: var(--price-col);
        font-weight: 600;
        margin-top: -10px;
      }
      .variant {
        margin-top: -10px;
        i {
          margin-right: 2px;
          font-size: 30px;;
        }
        .warna1 { color: #aa784b; }
        .warna2 { color: #365857; }
        .warna3 { color: #dbcb9a; }
        .warna4 { color: #ead268; }
        .warna5 { color: #b45252; }
      }
    }
  }
  .see-other {
    margin-top: 30px;
  }
}

// About
.about {
  margin-top: 50px;
  padding: 50px 0;
  background-color: #ffffff;
  .font-weight-bold {
    color: #000000;
  }
  p {
    color: #494949;
  }
}

// Chat
.chat{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#ffffff;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  &:hover {
    background-color:#42db7a;
    color: #ffffff;
  }
  i {
    margin-top:16px;
  }
}


// ******
// MOBILE
@media (max-width: 992px) {
  @import "mobile.scss";  
}